*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url("../images/backdrop.jpg");
    margin :0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.form_element{
    height: fit-content;
}

.form_container{
    text-align: center;
    width: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

input, select {width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #149694;border-radius: 4px;box-sizing: border-box;}

button {
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 5px;
border: none;
border-radius: 4px;
cursor: pointer;
}

button:hover {
background-color: #45a049;
}

.form_container {border-radius: 5px;background-color: #f2f2f2db;padding: 20px;}

.check_box{
    width: 100%;
    display: flex;
}

.check_box > .check_box_item{
    width: 33.33%;
    text-align: center;
}

.check_box_item p{
    margin: 0;
}

.flex_dis{
    display: flex;
}


@media only screen and (max-width: 768px) {
    .form_container{
        text-align: center;
        width: 85%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    
}